main{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #126b9d;
    font-size: 20px;
    font-family: sans-serif;
    color: #f7f6f5;
}
main form{
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
}
main form fieldset{
    flex-basis: 30vw;
    display: flex;
    flex-direction: column;
    border-width: 0px;
}
main form fieldset input, main form fieldset select{
    font-size: large;
    margin-top: 30px;
    min-width: 400px;
    background-color: #b8c9d5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    color: #f7f6f5;
    border-radius: 10px;
}

main form fieldset input[type="submit"]{
    background-color: #668fab;
    color: #f7f6f5;
    border-radius:20px ;
    align-self:center;
}
main form fieldset input[type="button"]{
    background-color: rgb(5, 174, 180);
}
::placeholder{
    color: #f7f6f5;
    font-weight: 700;
}
h1{
    margin-top: 100px;
    text-align: center;
    color: #f7f6f5;
}
h1 a{
    color: inherit;
}
table{
    padding: 20px;
    color: #f7f6f5;
    border-radius: 10px;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    background-color: #b8c9d5;
}
table tr td:nth-of-type(6), table tr td:nth-of-type(7){
    color: #298a97;
}
table tr td, table tr th{
    padding: 10px;
}
table tr td:hover{
    color:#972969
}
.festivo, .festivo:hover{
    color: red;
}


/**Visualizador horas*/
#listadohoras{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap:8px;
}
.contenedorhora{
    background-color: #b8c9d5;
    opacity: 0.5;
    border: solid black 0.5px;
    width: 100px;
    height: 30px;

}
.nodisponible{
    background-color: #b8c9d5;
    opacity: 1;
}
.citaseleccionada{
    background-color: rgb(5, 174, 180);
    opacity: 1;
}