/* Fondo general */
main {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #126b9d; /* azul original */
    font-size: 20px;
    font-family: sans-serif;
    color: #f7f6f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Título */
h1 {
    margin-top: 80px;
    font-size: 2rem;
    font-weight: 700;
}

/* Texto */
p {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 80%;
    max-width: 600px;
    line-height: 1.4;
}

/* Contenedor de botones */
#botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 90%;
}

/* Botones */
.btn {
    display: block;
    width: 280px;
    padding: 15px 20px;
    background-color: #668fab; /* azul secundario */
    color: #0a3c62;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s;
}

/* Hover */
.btn:hover {
    background-color: #f7f6f5;
    color: #668fab;
    border: 2px solid #f7f6f5;
}
