main{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #126b9d;
    font-size: 20px;
    font-family: sans-serif;
    color: #f7f6f5;
}
#botones{
    display: flex;
    place-content: space-evenly;
    flex-wrap: wrap;
}
button{
    flex-basis: 400px;
    font-size: large;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    color: #0a3c62;
    border-radius: 10px;
    font-weight: 900;
    text-align: center;
}
.botoneliminar{
    background-color: red;
}
table{
    margin-left: 5%;
    width: 80%;
}
table tr td{
text-align: center;
}
.botonmodificar{
    background-color: rgb(255, 217, 0);
}
button:hover{
    color:#8998a5 ;
    background-color: #f7f6f5;
}
p{
    margin: 20px;
}
h1{
    margin-top: 100px;
    text-align: center;
    color: #f7f6f5;
}
h1 a{
    color: inherit;
}