main {
    position: fixed;
    inset: 0;
    background-color: #126b9d;
    color: #f7f6f5;
    font-family: sans-serif;
    overflow-y: auto;
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.btn-volver {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #668fab;
    color: #0a3c62;
    font-weight: 900;
    border-radius: 10px;
    text-decoration: none;
}

.selector, .calendario {
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 12px;
}

.selector select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

.info {
    margin-top: 15px;
    font-size: 0.9rem;
}

.grid-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.dia {
    padding: 15px;
    background-color: #668fab;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
}

.dia:hover {
    background-color: #f7f6f5;
    color: #668fab;
}

.dia.no-disponible {
    background-color: #8998a5;
    cursor: not-allowed;
}

.grid-horas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.hora {
    padding: 10px;
    background-color: #668fab;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
}

.hora.no-disponible {
    background-color: #8998a5;
    cursor: not-allowed;
}

.btn-confirmar {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #f7f6f5;
    color: #0a3c62;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.selector select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    background-color: #f7f6f5;
    color: #0a3c62;
    font-weight: 700;
}

/* FORMULARIO A LA IZQUIERDA + HORARIO A LA DERECHA */
.contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

/* Ambos fieldsets del mismo tamaño */
.selector, .calendario {
    width: 45%;
}

